---
layout: default
---

<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <p class="post-meta">
      <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
        {{ page.date | date: date_format }}
      </time>
    </p>
    <h1 class="post-title" itemprop="name headline">{{ page.title | escape }}</h1>
    {% if page.tags.size > 0 %}
    <p class="post-tags">
      {% for tag in page.tags %}
        {% capture tag_name %}{{ tag }}{% endcapture %}
        <a class="post-tag" href="{{ '/tag/' | append: tag_name | relative_url }}">{{ tag_name }}</a>
      {% endfor %}
    </p>
    {% endif %}
  </header>

  {% if page.lang %}
  <div class="post" lang="{{page.lang}}">
  {% else %}
  <div class="post">
  {% endif %}
    <div class="post-content" itemprop="articleBody">
        {{ content }}
    </div>
  </div>

  <nav class="page-navigation" aria-label="Post navigation">
    {% if page.previous.url %}
      <a class="prev" href="{{page.previous.url | relative_url}}">
        <span class="page-nav-label">&larr; Previous</span>
        <span class="page-nav-title">{{page.previous.title}}</span>
      </a>
    {% endif %}
    {% if page.next.url %}
      <a class="next" href="{{page.next.url | relative_url}}">
        <span class="page-nav-label">Next &rarr;</span>
        <span class="page-nav-title">{{page.next.title}}</span>
      </a>
    {% endif %}
  </nav>

  {% if page.comments %}
    {% include disqus.html %}
  {% endif %}
</article>
