---
layout: default
---
<section class="tag-page">
  <header class="tag-page-header">
    <h1 class="page-heading">Posts tagged</h1>
    <p class="post-meta tag-page-meta">
      <a class="post-tag" href="{{ '/tag/' | append: page.tag | relative_url }}"><nobr>{{ page.tag }}</nobr></a>
      <span class="tag-page-count">{{ site.tags[page.tag] | size }} posts</span>
    </p>
  </header>

  <ul class="tag-post-cards">
    {% for post in site.tags[page.tag] %}
      {% if post.lang %}
      <li class="tag-post-card" lang="{{ post.lang }}">
      {% else %}
      <li class="tag-post-card">
      {% endif %}
        <a class="tag-post-card-link" href="{{ post.url | relative_url }}">
          <span class="post-link">{{ post.title }}</span>
          <span class="post-meta tag-post-card-date">{{ post.date | date: "%b %-d, %Y" }}</span>
        </a>
      </li>
    {% endfor %}
  </ul>
</section>
